*{
    font-size: 22px;
    font-weight: bold;
}
#r1{
    height: 50px;
    width: 98%;
    background-color: gray;
    padding-top: 20px;
    padding-left: 2%;
    margin-bottom: 10px;
}
#r2{
    
    background-color: grey;
    height: 33px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 7px;
    padding-bottom: 10px;

} 
#r3{
    background-color: grey;
    height: 33px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 7px;
    padding-bottom: 10px;
}
#r4{
    height: 600px;
    width: 100%;
    margin-bottom: 10px;

    
}
#r4c1{
    width: 30%;
    margin-right: 2%;
    margin-left: 4%;
}
#r4c2{
    width: 30%;
    margin-right: 2%;

}
#r4c3{
    width: 30%;
}
#r4 div{
    background-color: grey;
    height: 320px;
    float: left;
    padding-top: 280px;
    text-align: center;

}
#r5{
    background-color: gray;
    height: 33px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}